#sec-01 {
  padding-top: 3.4rem;
  padding-bottom: 17.6rem;
  background-color: #6974ea;
}

.menu-btn {
  font-family: SansB;
  font-size: pxToRem(12px);
  text-transform: uppercase;
  border: 2px solid rgba(255,255,255,.3);
  background-color: transparent;
  margin-bottom: 1.9rem;
  padding: 0.6rem 2.3rem;
  letter-spacing: 2.6px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 2px;
}

.sec-01__header {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 2.2rem;
}

.timer-container {
  margin-bottom: 2.4rem;
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4a47a6;
  padding: 0.7rem 1rem;
  border-radius: 5px;
}

.timer-container__description {
  font-family: GothaR;
  font-size: pxToRem(14px);
  margin-bottom: 0.4rem;
  color: #fff;
  padding-left: 0.5rem;
}

.timer-container__description-span {
  font-family: GothaB;
  font-size: pxToRem(14px);
  color: #fff;
}

.timer-container__timer {
  font-family: GothaR;
  font-size: pxToRem(24px);
  color: #fff;
}

.timer-container__bottom-description {
  width: 258px;
  display: flex;
}

.timer-container__bottom-span {
  font-family: SansR;
  display: block;
  font-size: pxToRem(10px);
  text-align: center;
  letter-spacing: 2.6px;
  color: #fff;

  &:first-child {
    width: 31%;
  }

  &:nth-child(2) {
    width: 17%;
  }

  &:nth-child(3) {
    width: 30%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.sec-01__bottom-btn {
  display: block;
  width: 100%;
  font-family: FuturaPTD;
  font-size: pxToRem(16px);
  border: none;
  outline: none;
  text-transform: uppercase;
  background-color: #26c6da;
  color: #fff;
  letter-spacing: 0.9px;
  line-height: 1.4;
  padding: 0.7rem 0.6rem 0.5rem;
  text-decoration: none;
  text-align: center;

  &:hover {
    transition: all 0.5s linear;
    box-shadow: 0 10px 27px 0 #9e9fa2;
    color: #000;
  }
}

.sec-01__side-under-text {
  font-family: GothaB;
  font-size: pxToRem(16px);
  color: #fff;
  margin-bottom: 1.6rem;
}

.sec-01__side-title {
  font-family: GothaR;
  font-size: pxToRem(24px);
  color: #fff;
  margin-bottom: 2rem;

  span {
    display: block;
    font-family: GothaB;
    font-size: pxToRem(34px);
  }
}

.sec-01__side-list {
  color: #ffd83d;
  font-family: SansR;
  font-size: pxToRem(14px);
}

.sec-01__side-list-item {
  margin-bottom: 0.3rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.sec-01__side-list-text {
  color: #fff;

  span {
    font-family: SansB;
  }
}

.sec-01__under-text {
  font-family: GothaM;
  font-size: pxToRem(40px);
  color: #fff;
  margin-bottom: 1.4rem;
}

.sec-01__title {
  font-family: GothaB;
  font-size: pxToRem(64px);
  color: #fff;
  letter-spacing: -1.5px;
  margin-bottom: 1.3rem;
  text-shadow: 11px 10px 0 #3d3da2;
}

.sec-01__subtitle {
  font-family: SansR;
  font-size: pxToRem(16px);
  color: #fff;
  padding-right: 17rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;

  span {
    font-family: SansB;
  }
}

.timer-wrapper {
  padding: 1.1rem 0.6rem;
}

.timer-container__timer {
  display: flex;
}

.timer-container__bottom-span {
  font-size: 0.625rem;
}

.timer-container__bottom-span:first-child {
  width: 21%;
}

.timer-container__bottom-span:nth-child(2) {
  width: 32%;
}

.timer-container__bottom-span:nth-child(3) {
  width: 22%;
}

.timer-container__bottom-span:last-child {
  width: 25%;
}

.sec-01__btn-container {
  margin-top: 0;
}

.sec-01__bottom-btn {
  font-family: SansB;
  font-size: pxToRem(14px);
  letter-spacing: 4px;
  background-color: #ffcc00;
  color: #000;
  border-radius: 5px;
  width: auto;
  padding: 0.9rem 0;
}
@media (max-width: 767px) {
  #sec-01 {
    padding-bottom: 4.6rem;
  }

  #sec-01 .row [class*=col-]:first-of-type {
    margin-bottom: 2rem;
  }

  .timer-container__description {
    padding-left: 0;
    line-height: 1.4;
  }

  .sec-01__subtitle {
    padding-right: 0;
  }

  .side-content__top-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sec-01__side-under-text {
    margin-right: 3rem;
  }

  .menu-btn {
    margin-bottom: 0;
    padding: 0.6rem 1.3rem;
  }

  .sec-01__header {
    justify-content: space-around;
    margin-bottom: 4.2rem;
  }

  .sec-01__side-list {
    width: 12rem;
    margin: auto;
  }

  .sec-01__side-list-item {
    font-size: 1rem;
  }

  .sec-01__title {
    text-align: center;
    font-size: 2.5rem;
  }

  .sec-01__under-text {
    text-align: center;
  }
}



@media (min-width: 768px) {
  #sec-01 {
    padding-bottom: 6rem;
    background-image: url("img/sec-01/md-bg.png");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .sec-01__header {
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.6rem;
    margin-bottom: 6.4rem;
  }

  .desctop-menu-btn {
    margin-bottom: 0;
  }

  .timer-container {
    display: flex;
    padding-right: 1.3rem;
    margin-bottom: 2.3rem;
  }

  .timer-container__description {
    margin-bottom: 0;
    width: 10.6rem;
    line-height: 1.5;
  }

  .sec-01__bottom-btn {
    padding: 0.9rem 0;
    width: 16.4rem;

    &:hover {
      transition: all 0.5s linear;
      box-shadow: 0 10px 27px 0 #9e9fa2;
      color: #000;
    }
  }

  .sec-01__side-list {
    padding-left: 1.2rem;
}

}



  @media (min-width: 1200px) {
    #sec-01 {
      padding-bottom: 17.6rem;
      background-image: url("img/sec-01/bg.png");

      .row {
        position: relative;
      }

      .row [class*=col-]:first-of-type {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .sec-01__header {
      padding-left: 6.7rem;
      padding-right: 5.8rem;
    }

    .side-content {
      padding-left: 5.5rem;
    }

    .main-content {
      padding-left: 17.4rem;
    }

    .sec-01__header {
      margin-bottom: 12.4rem;
    }

    .sec-01__side-list {
      padding-left: 0;
    }
  }
